.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  background-color: antiquewhite;
  height: 100%;
}

#root {
  height: 100%;
}

.grocerylist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top; /* Aligns content horizontally */
  align-items: center; /* Aligns content vertically */
  /* height: 100vh; Example: sets container height to full viewport height */
}

.grocerylist ul {
  background-color: #f1c669;
  border-radius: 10px 10px;
  padding: 10px;
}

.grocery-add-form {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

.grocery-add-form > div {
  display: flex;
  flex-direction: column;
  background-color: rgb(153, 185, 241);
  padding: 10px;
  border-radius: 10px 10px;
}

.grocery-add-form form {
}

.grocery-add-form div {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.grocery-add-form input {
  margin-left: 5px;
}

.item {
  display: inline-flex;
  width: 100%;
}

.item p {
  width: 15rem;
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
}

.item button {
  margin: 0.1rem;
}

ul {
  list-style-type: none;
  max-height: 75vh;
  overflow-y: auto;
}

.list-control > button {
  margin: 10px;
}

.complete {
  text-decoration: line-through;
}
